@import "mixins";

.card {
	@include card-size;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	position: absolute;
	transform-style: preserve-3d;

	&.actionable {
		@include actionable;
	}

	.card__front {
		position: absolute;
		@include card-size;
		user-select: none;
		-webkit-user-drag: none;
		backface-visibility: hidden;
	}

	.card__back {
		position: absolute;
		@include card-size;
		transform: rotateY(180deg);
		user-select: none;
		-webkit-user-drag: none;
		backface-visibility: hidden;
	}
}
