@import "mixins";

.deck {
	@include card-size;
	background-image: url("/assets/cards/card_back.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	user-select: none;
	-webkit-user-drag: none;
	position: relative;
	transition: transform 0.2s;
	will-change: transform;

	&.actionable {
		@include actionable;
	}
}
