@mixin card-size {
	width: 100px;
	height: 140px;
	@media(min-height: 1000px) {
		width: 125px;
		height: 175px;
	}
}

@mixin actionable {
	cursor: pointer;
	box-shadow: 0 0 5px lightblue;
	&:hover {
		box-shadow: 0 0 15px 3px lightblue;
	}
}

@mixin will-transform {
	position: absolute;
	transition: transform 0.2s;
	will-change: transform;
}
