.play-button {
	position: absolute;
	transform: translate(calc(100vw - 200px), 100vh);
	transition: transform 0.2s;
	will-change: transform;

	width: 150px;

	&--show {
		transform: translate(calc(100vw - 200px), calc(100vh - 100px));
	}
}
