@import "tabletop";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

#info-tray {
    z-index: 99;
    /* Sit on top */
    #info-tray-body {
        padding: 10px;
        a.icon-link {
            color: #000000;
        }
        a.icon-link:hover {
            color: #262626;
        }
        a:not(.icon-link) {
            color: #0056b3;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }
        a:not(.icon-link):hover {
            color: #003166;
            text-decoration: underline;
        }
        span,
        p,
        a {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    position: fixed;
    bottom: 0;
    right: 0;
}

#loading {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(50% 38%, #53c230, #138300);
    position: relative;
    .spinner-box{
        padding: 20px;
      
        position: absolute;
        top: 50%;
        left: 50%;
      
        margin: -40px 0 0 -45px;/* first is 1/2 height + padding, second is 1/2 width + padding*/
    }
    .spinner {
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;


    }
    .spinner>div {
        background-color: #000080;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    @-webkit-keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            -webkit-transform: scaleY(0.4)
        }
        20% {
            -webkit-transform: scaleY(1.0)
        }
    }
    @keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }
        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }
}

.hidden {
    display: none;
}